<% include ../partials/meta.ejs %>
<title>Recipes</title>
<% include ../partials/header.ejs %>

<div class="row ">
  <div class="col-md-9">

    <!-- BEGIN Accordion-->
    <div class="accordion" id="recipeList">   
      
      

    </div>
    <!-- END Accordion-->


  </div>
</div>

<script src="static/js/ajax_forms.js"></script>

<% include ../partials/footer.ejs %>