doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!!
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae neque aspernatur dicta eaque ipsa, repudiandae perferendis sunt illum laborum, reiciendis eligendi! Veritatis soluta porro excepturi cumque ex modi a ad.