<% include ../partials/meta.ejs %>
<title>Welcome</title>
<% include ../partials/header.ejs %>

  <div class="row">
    <div class="col-md-12 text-center">
      <img src="/static/keep_calm.gif" alt="" class="mx-auto">
    </div>
  </div> <!-- row -->
   

  <% include ../partials/footer.ejs %>