<% include ../partials/meta.ejs %>
<title>Formular</title>
<% include ../partials/header.ejs %>

<div class="row">

  <div class="col-md-6">
    <h1>Hello Page</h1>

  </div>

</div> <!-- row -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="/hello" method="POST">
        <div class="modal-body">
          <div class="form-group">
            <label for="nume" class="col-form-label">Nume:</label>
            <input type="text" class="form-control" id="nume" name="nume">
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="submit">Send message</button>
        </div>

      </form>

    </div>
  </div>
</div>

<script>
  
  const submit = document.getElementById("submit");
  sumbit.addEventListener

</script>

<% include ../partials/footer.ejs %>