<% include ../partials/meta.ejs %>
<title>Formular</title>
<% include ../partials/header.ejs %>

<% if (typeof name !== 'undefined') console.log('bineee') %>

<div class="row">

  <div class="col-md-4">
    <h1>Hello Page</h1>
    <form action="http://localhost:5000/hello" method="POST">
      <div class="form-group has-warning">
        <label for="name">Nume</label>
        <input type="text" name="name" id="name" class="form-control form-control-warning">
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>

  </div>

</div> <!-- row -->

<% include ../partials/footer.ejs %>